
@model List<Challenge1.Models.AddressModel>

@{
    ViewBag.Title = "Input";
}

<h1>Add Address</h1>
<div class="form-group">
    @Html.ActionLink("New Batch", "NewBatch", "Home")
</div>

<form method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" class="form-control" id="phone" name="phone" pattern="^(\+44)?\(?0?\d{4}\)?\d{6}$" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@if (Model.Count > 0)
{
    <hr />
    <h4>Current Batch: @Model[0].BatchId</h4>
    <h2>Current Entries:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Name</td>
                    <td>@entry.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
}
